{% extends 'index.html' %}
{% load static %}

 {% block main %}

    <section class="container">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <h2 id="lista">
                <img src="{% static 'images/lista.png' %}" width="8%">   
                Lista de Usuarios 
              </h2>
                <div class="card">
                    <h5 class="card-header">Usuarios</h5>
                    <div class="card-body">
                      <h5 class="card-title">Lista de todos los usuarios creados</h5>
                      <p class="card-text">
                        <b>Ver detalle: </b>Para ver la información de un usuario en particular.
                      </p>
                    
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Opciones</th>
                          </tr>
                        </thead>
                        <tbody class="table-group-divider">
    
                            {% for per in per_lista %}
                          <tr>
                            <td>{{per.nombre}}</td>
                            <td> {{per.apellido}}</td>
                            <td> {{per.mail}}</td>
                           
                            <td>
                          
                                  <button onclick="abrir_modal_edicion('{% url 'persona:editaru' per.pk%}')"  class="btn btn-outline-success">
                                  <img src="{% static 'images/editar.png' %}" width="20%"> Editar
                                  </button>
                        
                            </td>
                          </tr>
    
                          {% endfor %}
    
                        </tbody>
                      </table>

                    </div>
                </div>
            </div>
            <div class="col-2">
            </div>
        </div>
    </section>

    <div class="modal face" id="edicion" role="dialog">

    {% endblock main %}

