{% extends 'index.html' %}
{% load static %}

 {% block main %}
    <section class="container">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <h2> Lista de Usuarios </h2>
                <div class="card">
                    <h5 class="card-header">Usuarios</h5>
                    <div class="card-body">
                      <h5 class="card-title">Evaluación Q-Order Python - Django</h5>
                      <p class="card-text">
                        2- En una lista mostrar los usuarios creados
                      </p>
                    
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Opciones</th>
                          </tr>
                        </thead>
                        <tbody class="table-group-divider">
    
                            {% for per in persona_lista %}
                          <tr>
                            <td>{{per.nombre}}</td>
                            <td> {{per.apellido}}</td>
                            <td> {{per.mail}}</td>
                            <td>
                              
                                <button onclick="abrir_modal_edicion('{% url 'persona:actualizar' per.pk %}');" class="btn btn-primary">
                                    editar
                                  </button>
                                </a>
                                  
                            </td>
                          </tr>
    
                          {% endfor %}
    
                        </tbody>
                      </table>

                    </div>
                </div>



                
            </div>
            <div class="col-2">
            </div>
        </div>
    </section>


    <div class="modal fade" id="edicion" role="dialog">

    </div>



    {% endblock main %}
